<h1>Hello World!</h1>

<p>{{ new | date }}</p>

<ul style="list-style: none">
    <li *ngFor="let post of objs">
        <p>{{post.title}} <b> {{post.author}} </b></p>
        <ul>
            <li *ngFor="let comment of post.comments">
                <div>
                    <small>{{comment.name}}</small>
                    <p>{{comment.text}}</p>
                </div>
            </li>
        </ul>
    </li>
</ul>


<ul>
    <li *ngFor="let n of arr; let idx = index">
        {{idx + 1}}<strong>{{n}}</strong>
    </li>
</ul>

<button (click)="toggle = !toggle ">TOGGLE</button>

<!-- <div [ngStyle]="{
    width: '200px',
    height: '200px',
    borderRadius: '5px',
    border: '1px solid #ccc',
    background: backgroundToggle ? 'red' : 'blue'
}"></div> -->

<p *ngIf="toggle; else blueP" class="yellow">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, consequuntur.</p>
<ng-template #blueP>
    <p class="brown">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis, maxime!</p>
</ng-template>



<!-- <p *ngIf="toggle" class="yellow">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, consequuntur.</p>
<p *ngIf="!toggle" class="brown">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis, maxime!</p> -->

<button (click)="backgroundToggle = !backgroundToggle ">Toggle</button>

<p [class.blue]="!backgroundToggle" [class.red]="backgroundToggle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium enim dolore, cumque ut quia ullam dolorum aliquam debitis vitae illum.</p>

<p [ngClass]="{
    green: backgroundToggle,
    grey: !backgroundToggle
}">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque totam tempora perspiciatis placeat ipsa possimus, qui laboriosam alias corrupti repellendus?</p>

<hr>

<input type="text" [(ngModel)]="title2">

<p>{{ title2 }}</p>


<hr>
<hr>

<p>{{ title }}</p>

<!-- <input type="text" (input)="onInput($event)" >
<p><strong>{{inputValue}}</strong></p> -->

<input 
type="text" 
(keyup.enter)="onInput($event)" 
(blur)="onBlur(myInput.value)" 
#myInput
>
<p><strong>{{inputValue}}</strong></p>

<button (click)="onClick()">Click Me!</button>

<hr>

<app-post></app-post>
<app-post></app-post>
<hr>
<app-post2></app-post2>