.green {
    background: green;
    font-weight: bold;
    color: #fff;
}

.grey {
    background: grey;
    font-weight: 1.5rem;
    color: #fff;
}

.red {
    background: red;
    font-weight: bold;
    color: #fff;
}

.blue {
    background: blue;
    font-weight: 1.5rem;
    color: #fff;
}

.yellow {
    background: yellow;
    font-weight: bold;
    color: #fff;
}

.brown {
    background: brown;
    font-weight: 1.5rem;
    color: #fff;
}